{% load i18n %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation-rtl.min.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
</head>

<body>
    <div class='row' style="height: 80vh; display: flex; justify-content: center; align-items: center">
        <div class='small-8 columns'>
            <h1> EDU Search </h1>
            <form action='search' method='GET'>
                <input type="text" id="id_q" name="q" value="{{ query|default_if_none:"" }}" autofocus />
                <input type="submit" value="{% trans "Search" %}" class="button" />
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.js"></script>
</body>
